*.el~
/auto-save
/cache
/emms

/plugin/pde/lisp/tools/perldoc-cache.el

/elpa

/ac-comphist.dat

/projectile-bookmarks.eld

/projectile.cache

/git-submodule-move
/history

/vendor/pde/lisp/tools/perldoc-cache.el
