[submodule "vendor/color-theme-zenburn"]
	path = vendor/color-theme-zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
	ignore = dirty
[submodule "vendor/color-theme-twilight"]
	path = vendor/color-theme-twilight
	url = https://github.com/crafterm/twilight-emacs.git
	ignore = dirty
[submodule "vendor/color-theme-solarized"]
	path = vendor/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
	ignore = dirty
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
	ignore = dirty
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
	ignore = dirty
[submodule "vendor/rainbow-delimiters"]
	path = vendor/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
	ignore = dirty
[submodule "vendor/weibo"]
	path = vendor/weibo
	url = https://github.com/austin-----/weibo.emacs.git
	ignore = dirty
[submodule "vendor/mode-line-stats"]
	path = vendor/mode-line-stats
	url = https://github.com/Idorobots/mode-line-stats.git
	ignore = dirty
[submodule "vendor/iedit"]
	path = vendor/iedit
	url = https://github.com/tsdh/iedit.git
	ignore = dirty
[submodule "vendor/drag-stuff"]
	path = vendor/drag-stuff
	url = https://github.com/rejeep/drag-stuff.git
	ignore = dirty
[submodule "vendor/browse-kill-ring"]
	path = vendor/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
	ignore = dirty
[submodule "vendor/git-modes"]
	path = vendor/git-modes
	url = https://github.com/magit/git-modes.git
	ignore = dirty
[submodule "vendor/color-theme-ample"]
	path = vendor/color-theme-ample
	url = https://github.com/jordonbiondo/ample-theme.git
	ignore = dirty
[submodule "vendor/ido-hacks"]
	path = vendor/ido-hacks
	url = https://github.com/scottjad/ido-hacks.git
	ignore = dirty
[submodule "vendor/multiple-cursors"]
	path = vendor/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
	ignore = dirty
[submodule "vendor/ido-ubiquitous"]
	path = vendor/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git
	ignore = dirty
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
	ignore = dirty
[submodule "vendor/flx-ido"]
	path = vendor/flx-ido
	url = https://github.com/lewang/flx.git
	ignore = dirty
[submodule "vendor/anzu"]
	path = vendor/anzu
	url = https://github.com/syohex/emacs-anzu.git
	ignore = dirty
[submodule "vendor/workgroups2"]
	path = vendor/workgroups2
	url = https://github.com/pashinin/workgroups2.git
	ignore = dirty
[submodule "vendor/popwin"]
	path = vendor/popwin
	url = https://github.com/m2ym/popwin-el.git
	ignore = dirty
[submodule "vendor/highlight-symbol"]
	path = vendor/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el.git
	ignore = dirty
[submodule "vendor/hungry-delete"]
	path = vendor/hungry-delete
	url = https://github.com/nflath/hungry-delete.git
	ignore = dirty
[submodule "vendor/powerline"]
	path = vendor/powerline
	url = https://github.com/milkypostman/powerline.git
	ignore = dirty
[submodule "vendor/smart-mode-line"]
	path = vendor/smart-mode-line
	url = https://github.com/Bruce-Connor/smart-mode-line.git
	ignore = dirty
[submodule "vendor/guru-mode"]
	path = vendor/guru-mode
	url = https://github.com/bbatsov/guru-mode.git
	ignore = dirty
[submodule "vendor/ido-vertical-mode"]
	path = vendor/ido-vertical-mode
	url = https://github.com/gempesaw/ido-vertical-mode.el.git
	ignore = dirty
[submodule "vendor/color-theme-molokai"]
	path = vendor/color-theme-molokai
	url = https://github.com/hbin/molokai-theme.git
	ignore = dirty
[submodule "vendor/visual-regexp"]
	path = vendor/visual-regexp
	url = https://github.com/benma/visual-regexp.el.git
	ignore = dirty
[submodule "vendor/highlight-global"]
	path = vendor/highlight-global
	url = https://github.com/glen-dai/highlight-global.git
	ignore = dirty
[submodule "vendor/dired/dired-hacks"]
	path = vendor/dired/dired-hacks
	url = https://github.com/Fuco1/dired-hacks.git
	ignore = dirty
[submodule "vendor/volatile-highlights"]
	path = vendor/volatile-highlights
	url = https://github.com/k-talo/volatile-highlights.el.git
	ignore = dirty
[submodule "vendor/ecb"]
	path = vendor/ecb
	url = https://github.com/ecb-home/ecb
	ignore = dirty
[submodule "vendor/smex"]
	path = vendor/smex
	url = https://github.com/nonsequitur/smex.git
	ignore = dirty
[submodule "vendor/org-bullets"]
	path = vendor/org-bullets
	url = https://github.com/sabof/org-bullets.git
	ignore = dirty
[submodule "vendor/swiper"]
	path = vendor/swiper
	url = https://github.com/abo-abo/swiper.git
	ignore = dirty
[submodule "vendor/abo-smex"]
	path = vendor/abo-smex
	url = https://github.com/abo-abo/smex
	ignore = dirty
[submodule "vendor/hl-anything"]
	path = vendor/hl-anything
	url = https://github.com/boyw165/hl-anything.git
	ignore = dirty
[submodule "vendor/hydra"]
	path = vendor/hydra
	url = https://github.com/abo-abo/hydra.git
	ignore = dirty
[submodule "vendor/which-key"]
	path = vendor/which-key
	url = https://github.com/justbur/emacs-which-key
	ignore = dirty
[submodule "vendor/graphviz-dot-mode"]
	path = vendor/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
	ignore = dirty
